body {
    background-color: #E5DADA;
    font-family: 'Raleway', sans-serif;
}

h1 {
    color: #002642;
}

nav {
    background-color: #E59500;
    position: sticky;
    top: 0;
}

img {
    float: left;
    height: 300px;
    width:400px;
    object-fit: contain;
   
    
}

